@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}
.tree-view {
    position: relative;
    width: 792px
    height: 610px
    margin: 0 auto;
    background-image: url("../img/dynatree_tree_illustration_big.png")
}
.tree-generations {
    font-size: 0
    display: block;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        font-size 13px
        font-weight: 700
        color: #000;
        padding-top: 41px; //yes 1 px more
        line-height: 30px
        &:first-child {
            padding-left: 79px
        }
        &:nth-child(2) {
            //family tree
            padding-left: 70px
            font-size: 23px;
        }
        &:nth-child(3) {
            padding-left: 79px
        }
        &:nth-child(4) {
            padding-left: 52px;
        }
        &:nth-child(5) {
            padding-left: 25px;
            letter-spacing: -1px;
        }
    }
}
.person {
    position: absolute;
    border-radius: 100%;
    img {
        &:hover,
        &:active,
        &.active,
        &:focus {
            cursor: pointer
        }
    }
}
.person-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    text-align: center
    letter-spacing: -1px;
    position: absolute;
    background-image: url("../img/banner-name-default.png");
    width: 115px;
    background-position: center;
    
}
.person-main {
    width: 115px;
    left: 212px;
    top: 245px;
    .person-name {
        top: -40px;
        width: 155px;
        left: -20px;
        font-weight: 700;
        font-size: 17px;
        background-image: none;
    }
}
.person-father {
    width: 80px;
    right: 315px;
    top: 153px;
    .person-name {
        margin-left: -15px;
        font-weight: 700;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.person-mother {
    width: 80px;
    right: 315px;
    top: 390px;
    .person-name {
        margin-left: -15px;
        font-weight: 700;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

.person-info {
    position: relative;
    z-index: 200;
    width: 550px;
    height: 600px;
    background-image: url("../img/person-info-bg.png");
    
}

.close-btn {
    position: absolute;
    padding: 0;
    background: transparent;
    right: 15px;
    top: 14px;
    border: 0;
    &:hover,
    &:active,
    &.active,
    &:focus {
        outline:0;
    }
}